@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-terminal-black: #0d1117;
  --color-terminal-darker: #0a0a0a;
  --color-terminal-green: #00ff41;
  --color-terminal-dim: #161b22;
  --color-terminal-text: #c9d1d9;

  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;

  --animate-blink: blink 1s step-end infinite;

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  --animate-scroll-left: scroll-left 60s linear infinite;

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  --animate-scroll-right: scroll-right 60s linear infinite;

  @keyframes scroll-right {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@layer base {

  html,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }

  body {
    @apply bg-terminal-black text-terminal-text font-sans antialiased;
  }
}

/* Custom scrollbar for terminal feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-terminal-darker);
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-terminal-green);
}